#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 20px;
  line-height: 26px;

  color: #27242d;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#card {
  max-width: 350px;
  margin: 0 auto;
}

ion-card {
  --background: #1f1c20;
  --color: #966fb8;
}

ion-card-title {
  --color: #966fb8;
  font-size: 20px;
}

ion-card-subtitle {
  --color: #ebc3eb;
  font-size: 30px;
}

ion-title {
  --color: #966fb8;
}

ion-button {
  --background: #966fb8;
}
